<!-- <div class="container" *ngFor="let stock of stock; index as i">
  <div class="name">{{ stock.name }} {{ stock.code }}</div>
  <div class="img"><img src="{{ stock.img }}" /></div>
  
    ${{ stock.price }}
  </div>
  <button (click)="toggleFavorite($event)" *ngIf="!stock.favorite">Add favorite</button>

  <div class="counter">
    <div class="increment"><button (click)="stock.incrementInCard()">+</button></div>
    <div class="counter">
      <p>{{ stock.quantityInCart }}</p>
    </div>
    <div class="dicrement">
      <button (click)="stock.decrimentInCard()" [disabled]="stock.quantityInCart === 0">-</button>
    </div>
  </div>
</div> -->
